## 파일 읽기 실습

In [3]:
import pandas as pd

### csv 파일 읽기

In [5]:
data_file = "datas/korea-star.csv"

In [7]:
pd.read_csv(data_file)

      이름     그룹      소속사  성별        생년월일      키 혈액형      인기지수
0    아이린   레드벨벳       SM  여자  1991-03-29  160.0   A   8256324
1    차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
2      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
3     민현    NaN     플레디스  남자  1995-08-09  182.3   O   4989792
4     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
5      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
6     윤아   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
7     백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
8     JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
9     슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   4925442
10  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
11    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   7208335
12    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
13   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
14    슬기   레드벨벳       SM  여자  1994-02-10  161.0   A   5021452
15    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260

### excel 파일 불러오기

In [15]:
data_file2 = "datas/korea-star.xlsx"

In [ ]:
pd.read_excel(data_file2)

### json 파일 불러오기

In [9]:
data_file3 = "datas/stock_price_years.json"

In [10]:
pd.read_json(data_file3)

            date   price
0     2023.01.27  327.98
1     2023.01.26  325.57
2     2023.01.25  320.76
3     2023.01.20  315.58
4     2023.01.20  315.58
...          ...     ...
4923
4924
4925
4926
4927

[4928 rows x 2 columns]